[run]
parallel = True

[report]
omit =  
    */python?.?/*
    */site-packages/*
    *__init__*
    */bucketlist/settings/*.py
    */migrations/*
    */urls.py
exclude_lines =
    pragma: no cover
    def
    import
    from
