{% extends 'base.html' %}

{% block content %}
{% include 'website/snippets/back.html' %}
<section>
    <div class="col-sm-12">
        <h2>About</h2>
        <p>Bucketlist tracker is a Django powered bucketlist app for managing bucketlists, a project by Oluwafemi Sule, a software developer at Andela. He is of the opinion that you should have a list of things you hope to have accomplished before you <em>kick the bucket</em>.</p>
        <p>However, he submits that this should be very easy for age-old persons to use and would appreciate any feedback that would aid this purpose <a href="https://github.com/andela-osule/bucket-list-api/issues/new">here</a>.</p>
        <p>Bucketlist tracker comes with a web frontend and API access with great documentation which you can find <a href="/" title="home">here</a> and <a href="/docs" title="API docs">here</a> respectively.</p>

    </div>
</section>
{% endblock %}