{% extends 'base.html' %}


{% block content %}
{% include 'website/snippets/search.html' %}

<header>
  <div class="col-sm-12 margin-sm-bottom">
    <h3>{{object.name}}</h3>
  </div>
</header>
{% include 'website/snippets/messages.html' %}
<section>
    <div class="col-sm-12">
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object.name }}"?</p>
            <input type="submit" value="Confirm" class="btn btn-primary no-left-margin"/>
            <button class="btn btn-cancel">Cancel</button>
        </form>
    
    </div>
</section>

{% endblock %}