{% extends 'base.html' %}
{% load humanize %} 

{% block content %}
{% include 'website/snippets/search.html' %}
{% include 'website/snippets/back.html' %}

<header>
  <div class="row">
    <div class="col-sm-12 margin-sm-bottom">
      <h3>{{ object.name }}</h3>
    </div>
  </div>
</header>
{% include 'website/snippets/messages.html' %}
<section>
  <div class="row">
    <div class="col-sm-12">
      <p>{% if object.done %}
          This activity has been completed.
         {% else %}
          This activity hasn't been completed yet.
          {% endif %}
      </p>
      <p class="details">
          <ul class="no-bullets spacer">
            <li>
              <i class="fa fa-clock-o"></i>
              <datetime>
                  Created: {{ object.date_created|naturaltime }}
              </datetime>
            </li>
            <li>
              <i class="fa fa-clock-o"></i>
              <datetime>
                  Updated: {{ object.date_modified|naturaltime}}
              </datetime>
            </li>
          </ul>
      </p>
    </div>
  </div>
</section>


{% endblock %}