{% extends 'base.html' %}


{% block content %}
{% include 'website/snippets/search.html' %}

<header>
  <div class="col-sm-12 margin-sm-bottom">
    <h3>{{ object.name }}</h3>
    <span>Currently updating {{ object.name }}</span>
  </div>
</header>
{% include 'website/snippets/messages.html' %}
<section>
	<div class="col-sm-12">
		<form action="" method="post">{% csrf_token %}
		    <div class="input-group">
		      {{ form.as_p }}
		      <button type="submit" class="btn btn-primary">Update</button>
               <span class="spacer-15"></span>
              <button class="btn btn-cancel">Cancel</button>
		    </div>
		</form>
	
	</div>
</section>

{% endblock %}