{% extends 'base.html' %}
{% load static %}

{% block app_css %}
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}">
{% endblock %}

{% block content %}
<header>
  <div class="col-sm-12 margin-sm-bottom no-left">
    <h2>{{ bucketlist.name }}</h2>
    <span><a href="#" id="addMore">Add more</a></span>
  </div>
</header>

{% if not bucketlistitems %}

<p>No bucketlistitems have been added. Go ahead and <a href="#" id="addFirstBtn"> add your first</a>!</p>
<form action="{% url 'app.bucketlist.items' bucketlist.id %}" method="POST">
    {% csrf_token %}
    <div class="col-sm-8 no-left">
        <input name="name" type="text" class="form-control" placeholder="Bucketlist Item Name" required>
    </div>
    <div class="col-sm-4 no-left">
        <input name="done" type="checkbox" data-label-text="Done?" data-on-text="Yes" data-off-text="No">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

{% else %}
    {% include 'website/snippets/messages.html' %}
    {% include 'website/snippets/bucketlist-item.html' %}
{% endif %}
{% endblock %}

{% block app_js %}
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/switch.js'%}"
{% endblock %}
