{% extends 'base.html' %}
{% load humanize %} 

{% block content %}
<div class="col-sm-12">
  <aside>
    <div class="input-group">
      <input type="search" class="form-control" name="q" placeholder="Search for...">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default">Search</button>
    </span>
    </div>
  </aside>
</div>

<header>
  <div class="col-sm-12 margin-sm-bottom">
    <h3>{{ object.name }}</h3>
  </div>
</header>
{% include 'website/snippets/messages.html' %}
<section>
  <div class="col-sm-12">
    <p>{% if object.done %}
        This activity has been completed.
       {% else %}
        This activity hasn't been completed yet.
        {% endif %}
    </p>
    <p class="details">
        <ul class="no-bullets spacer">
          <li>
            <i class="fa fa-clock-o"></i>
            <datetime>
                Created: {{ object.date_created|naturaltime }}
            </datetime>
          </li>
          <li>
            <i class="fa fa-clock-o"></i>
            <datetime>
                Updated: {{ object.date_modified|naturaltime}}
            </datetime>
          </li>
        </ul>
    </p>
  </div>
</section>


{% endblock %}