{% extends 'base.html' %}


{% block content %}
{% include 'website/snippets/search.html' %}

<header>
  <div class="col-sm-12 margin-sm-bottom">
    <h3>Create Bucketlist</h3>
    <span>Current creating a new bucketlist</span>
  </div>
</header>
{% include 'website/snippets/messages.html' %}
<section>
    <div class="col-sm-12">
        <form action="" method="post" class="create">{% csrf_token %}
            <div class="input-group">
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Create</button>
              <span class="spacer-15"></span>
              <button class="btn btn-cancel">Cancel</button>
            </div>
        </form>
    
    </div>
</section>

{% endblock %}