{% extends 'base.html' %}

{% block content %}
{% include 'website/snippets/search.html' %}

<header>
  <div class="col-sm-12 margin-sm-bottom">
    <h2>Dashboard</h2>
  </div>
</header>
{% include 'website/snippets/messages.html' %}
<section>
 
 <ul class="menu">
    <li>
        <i class="fa fa-list"></i><a href="{% url 'app.bucketlists'%}">Bucketlists</a>
    </li> 
    <li>
        <i class="fa fa-info"></i><a href="{% url 'app.user_profile'%}">Your Profile</a>
    </li>
 </ul>
</section>


{% endblock %}