{% extends 'base.html' %}

{% block content %}

<section>
    {% if messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div id="fixInImage">
      <div class="col-md-7">
        <h1 class="jumbofy">Welcome to Bucketlist Tracker</h1>
        <p class="jumbofy">...keeping track of those things you want to do in life before you kick the bucket.</p>
      </div>
      <div class="col-md-offset-1 col-md-4">
        <form action="{% url 'app.login' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input name="username" type="text" placeholder="Username or email" class="form-control">
          </div>
          <div class="form-group">
            <input name="password" type="password" placeholder="Password" class="form-control">
          </div>
          <div class="checkbox form-group">
           <input name="remember_me" type="checkbox">Remember me
            <a href="">Forgot password</a>
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
        
        <!--Signup form-->
        <form action="{% url 'app.signup' %}" method="POST">
          {% csrf_token %}
          <p><strong>New to Bucketlist Tracker?</strong> Sign up</p>
          <div class="form-group">
            <input name="first_name" type="text" placeholder="First name" class="form-control">
          </div>
           <div class="form-group">
            <input name="last_name" type="text" placeholder="Last name" class="form-control">
          </div>
          <div class="form-group">
            <input name="username" type="text" placeholder="Username" class="form-control">
          </div>
          <div class="form-group">
              <input name="email" type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
              <input name="password" type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-default">Sign up for Bucketlist Tracker</button>
        </form>
      </div>
    </div>
</section>


{% endblock %}