@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200);

body {
    font-size: 16px;
}
.navbar .brand img {
	height: 40px;
	width: 40px;
	vertical-align: bottom;
	border: 0;
}

.navbar .brand {
    font-size: 24px;
    vertical-align: bottom;
    text-shadow: 0 -1px 0 rgba(200,200,200,.5);
    color: #9770B7;
}
.navbar .brand:hover {
	text-decoration: none;
	color: #9770B7;
}


h1, h2, h3, h4 {
    font-family: 'Raleway';
    font-weight: 200;
}

#fixInImage {
    min-height: 500px;
}

h1 {
    font-size: 48px;
}

#fixInImage .jumbofy {
    font-size: 32px;
    font-weight: 100;
}
footer {
	font-size: 12px;
}

footer ul {
    list-style: none;
}

.checkbox {
    margin-left: 20px;
}

form:last-child {
    margin-top: 20px;
}

footer .row {
    padding: 35px 0 35px;
}

.no-left{
    padding-left: 0px;
}
.btn-primary.no-left-margin{
    margin-left: 0px;
}
.content {
    min-height: 500px;
}

.item {
    padding: 0px 20px 20px 0px;
}
.item p{
    margin-left: 0px;
}
.item h3 {
    margin-top: 0;
}
.done {
    margin-top: 10px;
}

.counters {
    margin: 10px 0 10px 0;
}
.hide {
    display: none;
}
.alert {
    margin-bottom: 10px;
}
.margin-sm-bottom {
    margin-bottom:12px
}
#addForm form {
    margin-top: 0;
    margin-bottom: 28px;
    padding-bottom: 20px;
}
.alert-error {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.menu {
	list-style: none;
	padding: 15px;
}
.menu li {
	text-indent: 0px;
    margin-bottom: 10px;
}
.menu li i {
    margin-right: 4px;
}
.btn-primary {
    margin-left: 55px;
    background: #89458C;
    border: #89458C;
}
.btn-primary:hover{
    background: #9770B7
}

form.create {
	border-top: 1px solid #ccc;
    border-bottom: 1px inset #ccc;
    padding: 25px;
    background: #f8f8f8;
}
label {
    font-weight: 700;
    font-size: 16px;
}
.spacer-15 {
    margin-left: 7.5px;
    margin-right: 7.5px;
}
.btn-cancel {
    background: #EECC66;
}
.btn-cancel:hover{
    background: #F7DE94;
}
.glyphicon {
    margin-right: 4px;
}
input[type=checkbox]{
    width: 16px;
    height: 16px;
    margin-left: 4px;
}
.no-bullets {
    list-style: none;
    padding-left: 0px;
}
.action-link {
    width: 40px;
    display: inline-block;
    border: 1px solid #f9f9f9;
    color: #999;
    border-radius: 8px;
    text-align: center;
    padding: 8px 0px;
}
.action-link:hover{
    border: 1px solid #fcfcfc;
    background: #bcbcbc;

}
.pagination-centered {
    text-align: center;
}
ul.spacer li{
    margin-bottom: 8px;
}