@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200);

body {

}
.navbar-logo {
	height: 40px;
	width: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Raleway';
    font-weight: 200;
}

#fixInImage {
    min-height: 500px;
}

h1 {
    font-size: 48px;
}

#fixInImage .jumbofy {
    font-size: 32px;
    font-weight: 100;
}

footer ul {
    list-style: none;
}

.checkbox {
    margin-left: 20px;
}

form:last-child {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
}

.no-left{
    padding-left: 0px;
}

.content {
    min-height: 500px;
}

.item {
    padding: 0px 20px 20px 0px;
}
.item p{
    margin-left: 0px;
}
.item h3 {
    margin-top: 0;
}
.done {
    margin-top: 10px;
}

.counters {
    margin: 10px 0 10px 0;
}
.hide {
    display: none;
}
.alert {
    margin-bottom: 10px;
}
.margin-sm-bottom {
    margin-bottom:12px
}
#addForm form {
    margin-top: 0;
    margin-bottom: 28px;
    padding-bottom: 20px;
}
.alert-error {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}